//===========================================
//Detail
.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);

    @include responsive(medium) {
        flex-direction: column;
        padding: 1rem;
    }
}

//===========================================
//Hotel Overview
.overview {
    display: flex;
    align-items: center;
    border-bottom: var(--line);

    &__heading {
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1.5rem 3rem;

        @include responsive(small) {
            font-size: 1.75rem;
            padding: 1.5rem .25rem;
        }

        @include responsive(sp-small) {
            font-size: 1.5rem;
            padding: 1.5rem .25rem;
        }
    }

    &__stars {
        margin-right: auto;
        display: flex;
    }

    &__location {
        font-size: 1.2rem;
        display: flex;
        align-items: center;
    }

    &__icon-star,
    &__icon-location {
        width: 1.75rem;
        height: 1.75rem;
        fill: var(--color-primary);
    }

    &__icon-location {
        margin-right: 1.5rem;

        @include responsive(sp-small) {
            display: none;
        }
    }

    &__rating {
        background-color: var(--color-primary);
        margin-left: 2rem;
        color: #fff;
        padding: 0 2.25rem;
        align-self: stretch;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__rating-average {
        font-size: 2.25rem;
        font-weight: 300;
    }

    &__rating-count {
        font-size: .8rem;
        text-transform: uppercase;
    }

    
}

//===========================================
//Description
.description {
    display: flex;
    flex-direction: column;
    flex: 0 0 55%;
    background-color: #fff;
    box-shadow: var(--shadow-dark);
    padding: 3rem;
    margin-right: 4.5rem;

    @include responsive(medium) {
        margin-right: 0;
        margin-bottom: 2rem;
        flex: 1;
    }
}

//===========================================
//User review
.user-reviews {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: brown;
}

//===========================================
//Recommend
.recommend {
    color: var(--color-grey-dark-3);

    display: flex;
    align-items: center;

    &__count {
        margin-right: auto;
    }

    &__photo {
        box-sizing: content-box;
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid #fff;

        @include responsive(sp-large) {
            height: 3.5rem;
            width: 3.5rem;
            border: 2px solid #fff;
        }
    }

    &__photo:not(:last-child) {
        margin-right: -1.15rem;
    }
}

//===========================================
//Call to action

.cta {
    padding: 3.5rem 0;

    &__book-now {
        text-transform: uppercase;
        margin-bottom: 2.5rem;
    }
}